<strong>Hello, {{provider}}</strong>
<p>An appointment was cancelled. More details below</p>
<p>
  <strong>User: </strong> {{ user }} <br />
  <strong>Date/Time: </strong> {{ date }} <br />
  <br />
  <small>
     The current time is now available for new appointments
  </small>
</p>
